@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 2rem;
}
/* 
globals.css는 Next.js 프로젝트의 전역 스타일을
설정하는 파일로, 프로젝트 전체에 공통적으로 적용
되는 스타일을 정의합니다.
 */
/*
public 폴더는 Next.js 프로젝트에서 정적 파일들을 보관하는 장소로,
웹 앱에서 루트 경로(/) 기준으로 바로 접근할 수 있는 이미지, CSS, JS 파일
등을 포함합니다.
*/
